/* custom fonts */
@font-face {
  font-family: "Inconsolata";
  src: url(/fonts/Inconsolata.otf);
}


/* core tag styles */
html {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.4;
  font-family: Inconsolata, monospace;
  background-color: #343538;
  position: relative;
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}

nav {
  color: #cccccc;
  white-space: nowrap;
}

main {
  margin: 5em 0 5em 0;
}

img {
  max-width: 100%;
}

footer {
  padding-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a85751;
  margin: 0 0 10px;
}

p {
  color: #cccccc;
  font-size: 16px;
}

a {
  cursor: pointer;

  color: #54a9d3;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #73b8db;
  text-decoration: none;
}

ul {
  list-style-type: square;
  padding: 0 0 0 20;
}

li {
  color: #cccccc;
  padding: 15 10 0 10;
}


/* classes */
.song {
  display: flex;
  flex-wrap: nowrap;

}

.song-description {
  padding-left: 20px;
}

.album-art {
  column-fill: auto;
  float: left;
  max-width: 250px;
  margin-bottom: 20px;
}

.goodflyingbird {
  font-size: 25px;
  text-decoration: none;
}

.project-picture {
  max-width: 60%;
  max-height: 400px;
  margin: 0;
}

.book-blurb {
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .project-picture {
    max-width: 60%;
  }
}

.right {
  float: right;
  margin-left: 10px;
}

.left {
  float: left;
  margin-right: 10px;
}

/* ids */


/* mobile styles */
@media (max-width: 768px) {
  body {
    width: 85%;
  }

  .album-art {
    max-width: 50%;
  }


}