<p>
  <a target="_blank" href="https://github.com/mattertater">github</a>
  -
  <a target="_blank" href="https://gitlab.com/mattertater">gitlab</a>
  -
  <a target="_blank" href="https://www.linkedin.com/in/matthew-mcdade/">linkedin</a>
  -
  <a target="_blank" href="https://open.spotify.com/user/mattertater?si=qCi9QGDyS8q-oIrotSIAaA">spotify</a>
  -
  <a target="_blank"
    href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=mmcdade9@gmail.com&su=Question%20from%20mattmcdade.com:">email</a>
</p>